[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git
[submodule "tests/functional/REST"]
    path = tests/functional/REST
    url = https://github.com/Naktibalda/codeception-rest-testcase
